/***********************************************************************************************/


/* ZOOM */


/***********************************************************************************************/

html {
    /*zoom: 0.75;  */
    padding-top: 5px;
    /*width: 900px;*/
    /*width: 783px;*/
    /*width: 700px;*/
    width: 760px;
    /*height: 800px;*/
    /*height: 400px;*/
}

body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    // font-family: "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
    // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: whitesmoke;
    background-color: #f5f5f5;
    /*background-color: #2196f3;*/
}


/*
.container-fluid {
     zoom: 0.75;
}
*/

html,
body {
    transition: all .5s linear;
}

a {
    color: #7abaff;
}


/***********************************************************************************************/


/* ZOOM */


/***********************************************************************************************/

table,
.container-fluid {
    zoom: 0.75;
}


/***********************************************************************************************/


/* TYPOGRAPHY */


/***********************************************************************************************/

h3 {
    /*color:white;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}


/* TABLE */

thead {
    /*font-size: 14px;*/
    font-size: 15px;
    letter-spacing: 2px;
    color: darkgray;
    font-weight: 400;
}

.h4,
h4 {
    /*font-size: 19px;*/
    // font-size: 18px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.6px;
    width: 117px;
    max-width: 108px;
}

.h5,
h5 {
    font-size: 18px;
}

.small,
small,
.bit {
    color: grey;
    letter-spacing: 1px;
}

.fa {
    // font-size: 22px;
    font-size: 19px;
}


/***********************************************************************************************/


/* TABLE - Details fixing */


/***********************************************************************************************/

h4.name {
    // opacity: 0.2;
}

h4.price {
    // opacity: 0.3;
    // display: initial;
    // display: flex;
    display: inline;
    // font-size: 18px;
}

h4.twentyFour_Hr {
    // opacity: 0.2;
    display: initial;
}

.btn-group-vertical>.btn,
.btn-group>.btn {
    // width: 92px;
    // max-width: 92px;
    // max-width: 89px;
    max-width: 85px;
    font-size: 14px;
    overflow: hidden;
}


/***********************************************************************************************/


/* TABLE */


/***********************************************************************************************/

table {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .2);
    border-radius: 2px;
}

tbody {
    background-color: rgb(255, 253, 245);
}


/***********************************************************************************************/


/* LOAD MORE BUTTON */


/***********************************************************************************************/

.load-button {
    display: none;
    margin-bottom: 20px;
    margin-left: 10px;
    width: 95%;
    /*width: 100%; */
    /*margin-right:20px !important;*/
}

.btn-buy,
.btn-sell {
    /*width:50%  !important;*/
    padding: 7px 20px;
}


/***********************************************************************************************/


/* ICONS IMAGES */


/***********************************************************************************************/

td img {
    max-width: 26px !important;
}


/***********************************************************************************************/


/* HIGHLIGHT COLORS */


/***********************************************************************************************/

.green {
    color: #4caf50 !important;
    /*color: #4caf50 !important;*/
}

.red {
    /* color: red !important;*/
    /*color: #ca0000 !important;*/
    color: #f44336 !important;
}


/***********************************************************************************************/


/* TOP BAR */


/***********************************************************************************************/

.heading {
    padding: 20px 13px;
    display: flex;
}

.date {
    margin-top: 7px !important;
    color: lightgrey;
}

input {
    padding: 12px !important;
}


/***********************************************************************************************/


/* HELPERS */


/***********************************************************************************************/

.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}

.btn-group,
.btn-group-vertical {
    // display: initial;
}


/***********************************************************************************************/


/* ERROR MESSAGE */


/***********************************************************************************************/

#errorMessage {
    display: none;
    clear: both;
    height: 150px;
    text-align: center;
    padding-top: 30px;
    color: #E91E63;
    h2.message {
        color: darkcyan;
        padding: 20px;
        font-size: 29px;
    }
}


/***********************************************************************************************/


/* CHANGELLY */


/***********************************************************************************************/

#changellyModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}